h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #003019;
}
 


/* About section */
#about-profile {
  display: inline-block;
  width: 40%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}  
  #profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

#skills {
  float: right;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 10%;
}

  .icons {
    display: inline-block;  
    margin: 20px;  
    text-align: center; 
  }

  .icons-img {
    width: 200px;
    height: 200px;
  }
  
  #git {
    padding-right: 0%;
    text-align: center; 
  }

#proj {
  display: inline-block;
  text-align: center; 
  width: 100%;
}

/* Filters section */
.filters {
    margin-bottom: 20px;
  }
  
  #name-search {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag {
    background-color: #003019;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tag:hover {
    background-color: #0ff394;
  }
  
  /* Projects list */
  .projects-list {
    margin-top: 20px;
  }
  
  .project {
    background-color: rgb(177, 255, 174);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .tags-list {
      flex-direction: column;
    }
    #about-profile {
      display: inline;
      padding-bottom: 20px;
    }
    #profile {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
    #skills {
      float: none;
      display: block;
      width: auto;
      padding-left: 0%;
      padding-top: 0%;
      padding-right: 0%;
    }
    #git {
      display: block;
      text-align: center; 
      padding-left: 30%;
    }
    .icons-img {
      width: 115px;
      height: 115px;
    }
  }

  @media (max-width: 1215px) {
    #about-profile {
      display: inline;
      padding-bottom: 20px;
    }
    #profile {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
    #skills {
      float: none;
      display: block;
      width: auto;
      padding-left: 0%;
      padding-top: 0%;
      padding-right: 0%;
    }
    #git {
      display: inline-block;
      padding-right: 10%;
      text-align: center; 
    }
  }