{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extrahead %}

{% block content %}
    <canvas id="gameCanvas" width="100%" height="800px" style="background-color: #ebebeb"></canvas>

    <div id="aboutdiv">
        <h1 id="test">About</h1>
        <div id="about-profile">
            <img id="profile" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/profile.jpg" alt="profile">            
            <h2>
                <br>I am wholeheartedly dedicated to the philosophy of continual learning and possess a profound enthusiasm for Python, JavaScript, and all aspects of web development. The distinct interplay of creativity, logic, and technology, coupled with the endless opportunities for discovery, fuels my excitement and dedication to this field.
            </h2>
        </div>
        
        <div id="skills" class="about">
            <div class="icons">
                <h3>JavaScript</h3>
                <img class="icons-img" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/js.png" alt="JavaScript">
            </div>
            <div class="icons">
                <h3>Python</h3>
                <img class="icons-img" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/python.png" alt="Python">
            </div>
            <div class="icons">
                <h3>HTML</h3>
                <img class="icons-img" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/html.png" alt="HTML">
            </div>
            <div class="icons">
                <h3>CSS</h3>
                <img class="icons-img" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/css.png" alt="CSS">
            </div>
            <div class="icons">
                <h3>Django</h3>
                <img class="icons-img" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/django.png" alt="Django">
            </div>
            <div class="icons">
                <h3>SQL</h3>
                <img class="icons-img" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/sql.png" alt="SQL">
            </div>
            <div id="git">
                <h3>Git</h3>
                <img class="icons-img" src="https://ricky-portfolio-bkt.s3.us-east-2.amazonaws.com/about_images/git.png" alt="Git">
            </div>                                                  
        </div>

    </div>
    <br><br>
    <h1 id="proj">Browse all Projects</h1>
    <br>
    <div class="filters">       
        <input type="text" id="name-search" placeholder="Search by name..."/>
        <div class="tags-list">
            {% for tag in tags %}
                <button class="tag" data-tag="{{ tag.name|lower }}">{{ tag.name }}</button>
            {% endfor %}
        </div>
    </div>

    <div class="projects-list">
        {% for project in projects %}
        <div class="project" data-name="{{ project.title|lower }}" data-tags="{{ project.tags.all|join:', '|lower }}">
            <h2><a href="{% url 'project' project.id %}">{{ project.title }}</a></h2>
            <p>{{ project.description }}</p>
            <p>Tags: {{ project.tags.all|join:', '}}</p>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}